.employee-wrapper {
    height: 100vh;
    background-color: transparent;    
}

.left-pane {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 1rem;
    background-color: transparent;
}

.right-pane {
    padding: 1rem;
    background-color: transparent;
}